

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;

  height: 100vh;
  width: 100vw;
  background: rgba(35, 35, 35, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: max-content;
    min-height: 20%;
    background-color: #212121;
    padding: 20px;
    border-radius: 30px;
    position: relative;

    .heading {
      font-family: "poppins";
      font-size: 2rem;
      margin: 5px;

    }

    .removeIcon {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        color: darken($color: white, $amount: 20%)
      }

    }


    input {
      align-self: center;
      padding: 10px;
      border-radius: 10px;
      outline: none;
      border: none;
      margin: 5px;
      background-color: black;
      font-size: 1rem;
      min-width: 500px;
      margin-top: 20px;
      color: white;
      border: 1px solid black;

      transition: all 0.3s ease-in-out;

      &:focus {
        border: 1px solid #3c37ff;
      }
    }

    .submitButton {
      align-self: center;
      padding: 10px 20px;
      background-color: #3c37ff;
      color: white;
      border: none;
      outline: none;
      border-radius: 10px;
      font-size: 1rem;
      min-width: 500px;
      cursor: pointer;
      transition: all 0.2s ease-out;
      margin-top: 20px;

      &:hover {
        background-color: lighten($color: #3c37ff, $amount: 10%);
      }
    }


  }
}