.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden !important;

  background-color: black;
  height: 90vh;
  width: 100%;
  color: white;

  .urlCard {
    display: flex;
    align-items: center;
    background-color: #212121;
    padding: 5px 30px;
    border-radius: 20px;
    min-width: 500px;

    .info {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 10px;
    }

    .url {
      text-decoration: none;
      color: white;
      background-color: #3c37ff;
      // background-color: black;
      padding: 10px 20px;
      border-radius: 10px;
      margin: 10px;

      svg {
        margin-left: 10px;
      }
    }

    .warning {
      background-color: darkorange;
      text-decoration: none;
      color: white;

      // background-color: black;
      padding: 10px 20px;
      border-radius: 10px;
      margin: 10px;
    }
  }

  .cardsWrapper {
    display: flex;
    flex-direction: column;

    margin-top: 50px;

    .addCategoryCard,
    .addStoreCard,
    .storeAdded,
    .addSubCategoryCard,
    .addInventoryCard {
      display: flex;
      align-items: center;
      background-color: #212121;
      padding: 5px 30px;
      border-radius: 20px;
      max-width: 500px;
      margin: 10px;
      cursor: pointer;
      transition: all 0.2s ease-out;
      

      p {
        font-size: 1.1rem;

        text-align: center;

        svg {
          margin-right: 10px;
        }
      }
    }

    .storeAdded {
      background-color: rgba(172, 255, 47, 0.488);
      border: 1px solid greenyellow;
    }

    
  }

  .logoutButton {
    align-self: center;
    padding: 10px 20px;
    background-color: #3c37ff;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: lighten($color: #3c37ff, $amount: 10%);
    }
  }
}


@media screen and (max-width: 500px) {

  .container {
      

    .urlCard {
      margin-top: 20px;
      flex-direction: column;
      min-width: 300px;
      border-radius: 0;

      .url {
        svg {
          display: none;
        }
      }
    }
  }
}