
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    height: 350px;
    width: 100vw;
    background-color: dodgerblue;
    margin-top: -100px;
    position: relative;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.97)),
      url(../assets/bgAbstract.jpg);
    background-size: cover;

    p {
      font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
      font-size: 3rem;
      font-weight: 600;
      color: white;
      margin-top: 10px;
    }

    img {
      margin-top: 100px;
      border: 5px solid white;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .subHeading {
    color: rgba(255, 255, 255, 0.585);
    margin: 20px;
    margin-top: -50px;
    text-align: center;
    max-width: 300px;
  }

  input {
    align-self: center;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 5px;
    background-color: transparent;
    border: 1px solid rgb(55, 55, 55);
    font-size: 1.1rem;
    min-width: 500px;
    color: white;
    margin-top: 20px;

    transition: all 0.3s ease-in-out;

    &:focus {
      border: 1px solid #3c37ff;
    }
  }

  .statsList {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      background-color: #212121ab;
      border-radius: 20px;
      margin: 10px;

      svg {
        font-size: 1.5rem;
        margin-bottom: 5px;
      }

      .cardHeading {
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
      }

      p {
        color: gray;
        margin: 5px;
      }
    }
  }

  .label {
    color: white;
    align-self: flex-start;
    margin-left: 20px;
    font-size: 2rem;
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
      font-size: 1.2rem;
      padding: 5px 15px;
      background-color: #212121;
      border-radius: 10px;
    }
  }

  .categoriesList {
    display: flex;
    align-items: center;
    color: white;

    .categoryCard {
      padding: 20px;
      background-color: #212121;
      border-radius: 20px;
      margin: 10px;
    }
  }

  .productsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .noProducts {
    color: white;
  }
}

// responsive design
@media screen and (max-width: 1250px) {
  .container {
    .productsList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 820px) {
  .container {
    .productsList {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    .heading {
      p {
        font-size: 2rem;
      }
    }

    .productsList {
      grid-template-columns: repeat(1, 1fr);
    }

    .statsList {

      .card {
        .cardHeading {
          font-size: 1rem;
        }
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .container {
    .heading {
      p {
        font-size: 1.4rem;
      }

      

      img {
        height: 80px;
        width: 80px;
      }
    }

    .subHeading {
      font-size: 0.9rem;
    }

    input {
      font-size: 1rem;
      min-width: 300px !important;
    }

    .label {
      font-size: 1.2rem;
      align-self: center;

      span {
        font-size: 1rem;
      }
    }

    .productsList {
      grid-template-columns: repeat(1, 1fr);
    }

    .statsList {
      flex-wrap: wrap;

      .card {
        .cardHeading {
          font-size: 1rem;
        }
      }
    }
  }
}