.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 5rem;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    font-weight: 600;
    

    .branding {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 20px;
        font-family: 'poppins';

        .square {
            width: 2.3rem;
            height: 2.3rem;
            background-color: #3c37ff;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;

        }

        p {
            margin-top: 35px;
            font-size: 1.5rem;
            margin-left: -20px;

            color: white;
        }

        &:hover .square {
            background-color: #ffdd59;
            
        }
    }

    .navLinks {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        grid-gap: 20px;
        margin-right: 20px; // to center

        a {
            color: gray;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: white;
            }
        }
        .selected {
            color: white;
        }


    }

    .navIcons {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        grid-gap: 20px;
        font-size: 1.8rem;

        a {
            color: gray;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: white;
            }
        }
        .selected {
            color: white;
        }

        .cartCount {
            display: flex;
            align-items: center;

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                margin-left: 25px;
                font-size: 0.7rem;
                margin-top: -10px;
                color: white;
                background-color: #0f65ee;
                height: 20px;
                width: 20px;
                border-radius: 50%;

            }
        }
    }

    

    .smMenu {
        display: none;
    }
}



.hide {
    display: none !important;
}

@media screen and (max-width: 800px) {
    .navContainer {
        width: 95vw;

        .branding {         

            .square {

            }

            p {
                margin-top: 35px;
                font-size: 1.5rem;
                margin-left: -20px;

                span {
                    color: black;
                    font-size: 2rem;
                    font-weight: 700;
                }

                span:nth-child(2) {
                    color: white;
                    font-size: 1.7rem;
                }
            }
        }

        .navLinks {
            display: none
        }

        .navIcons {
            display: none
        }

        .smMenu {
            display: flex;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .smNavContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // glassmorphism
        background-color: rgba(0, 0, 0, 0.401);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        width: 100vw;
        height: 100vh;

        position: absolute;
        z-index: 1000;

        .closeIcon {
            position: absolute;
            top: 30px;
            right: 45px;
            font-size: 2rem;

        }

        .innerContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: black;
            // border: 0.5px solid rgba(255, 255, 255, 0.447);

            width: 40vw;
            min-width: 350px;
            height: auto;

            border-radius: 20px;
            .smNavLinks {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.2rem;
                width: 90%;

                .border {
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.42);
                    width: 100%;
                }

                a {
                    color: white;
                    margin: 20px;
                }

                svg {
                    font-size: 1.3rem;
                    margin-right: 10px;
                }
            }

            
        }
    }
}


@media screen and (max-width: 425px) {
    .navContainer {
        width: 95vw;
    }
    .smNavContainer {
        
        .innerContainer {
            min-width: 300px;
        }
    }
}
